---
name: CI/CD
on:
  push:
  pull_request:
  schedule:
    - cron: "0 0 1 * *"

jobs:
  validate:
    name: validate
    runs-on: ubuntu-latest

    steps:
      - name: Check out source
        uses: actions/checkout@v2

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v1

      - name: Validate configuration
        run: |
          cd ${GITHUB_WORKSPACE}/configuration
          terraform init
          terraform validate
          terraform fmt -check -recursive

      - name: Validate deployment
        run: |
          cd ${GITHUB_WORKSPACE}/deployment
          terraform init
          terraform fmt -check -recursive

          cd ${GITHUB_WORKSPACE}/deployment/modules
          for dir in $(find . -type d -not \( -name ".?*" \) -maxdepth 1 -mindepth 1);
          do
            echo "Checking module ${dir}..."
            cd ${GITHUB_WORKSPACE}/deployment/modules/${dir}
            terraform init
            terraform validate
          done

  release:
    name: release
    if: github.event_name == 'push' && github.ref != 'refs/heads/develop'
    needs: [validate]
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Create release and publish
        id: release
        uses: cycjimmy/semantic-release-action@v2
        with:
          semantic_version: 17.1.1
          extra_plugins: |
            conventional-changelog-conventionalcommits@^4.4.0
            @semantic-release/git@^9.0.0
            @semantic-release/exec@^5.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  docs:
    name: docs
    # if: github.event_name == 'push' && github.ref != 'refs/heads/develop'
    # needs: [release]
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Python 3.8
        uses: actions/setup-python@v2.1.3
        with:
          python-version: 3.8

      - name: Install documentation utils
        run: |
          pip install Sphinx sphinx-rtd-theme

      - name: Generate documentation
        run: |
          cd docs
          sphinx-build source html
          touch html/.nojekyll

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@3.6.1
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages # The branch the action should deploy to.
          FOLDER: docs/html # The folder the action should deploy.
          CLEAN: true # Automatically remove deleted files from the deploy branch